@import "tailwindcss";

@font-face {
  font-family: "Nanum Myeongjo Regular";
  font-style: normal;
  font-weight: 400;
  src: local("NanumMyeongjo"),
    url("./assets/fonts/NanumMyeongjo.woff2") format("truetype"),
    url("./assets/fonts/NanumMyeongjo.woff") format("truetype"),
    url("./assets/fonts/NanumMyeongjo-Regular.ttf") format("truetype");
  font-display: fallback;
}

body {
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Nanum Myeongjo Regular";
}
